.ball {
    float: left;
    width: 60px;   /* 공 가로 사이즈 */
    height: 60px;  /* 공 세로 사이즈 */
    line-height: 60px;/*  공 안에 숫자가 수직 가운데 올 수 있게*/
    font-size: 28px;
    border-radius: 100%;
    text-align: center;  
    color: #fff;
    font-weight: 500;
    text-shadow: 0px 0px 3px rgba(73, 57, 0, .8);
    /*  offset-x : 그림자의 수평 거리를 정합니다. (필수)
        offset-y : 그림자의 수직 거리를 정합니다. (필수)
        blur-radius : 흐림 정도를 정합니다. (선택 : 값을 정하지 않으면 0)
        color : 색을 정합니다. (선택 : 값을 정하지 않으면 브라우저 기본값) */
    margin-right: 6px;
  }
  
  .ball1 {
    background: #fbc400;
  }
  .ball2 {
    background: #69c8f2;
  }
  .ball3 {
    background: #ff7272;
  }
  .ball4 {
    background: #aaa;
  }
  .ball5 {
    background: #b0d840;
  }
  .ball6 {
    background: #c7c7c7;
  }